/* Slider */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  direction: ltr;
}

.jq-ry-container[readonly=readonly] {
  cursor: default;
}

.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}
input::-moz-placeholder {
  color: inherit;
  font: inherit;
}
input::placeholder {
  color: inherit;
  font: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background: #1c1c1c;
  color: #F1F1F1;
}

html,
body {
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1150px) {
  .container {
    padding: 0 10px;
  }
}

.project-wrapper {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 60px;
  flex-wrap: wrap;
}

.project-block {
  max-width: 540px;
  width: 100%;
}

.project-img img {
  border-radius: 25px;
}

.project-content {
  padding: 20px 0 30px;
}

.project-content-title {
  display: block;
  color: #F1F1F1;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.project-list {
  display: flex;
  gap: 50px;
  font-weight: 500;
}
.project-list li {
  display: flex;
  gap: 13px;
  align-items: center;
}

.inner-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.slick-dots li {
  font-size: 0;
  line-height: 0;
  transition: 0.3s linear;
}
.slick-dots li.slick-active {
  background: #eebf63;
}
.slick-dots button {
  font-size: 0;
  line-height: 0;
}

.btn-up {
  position: fixed;
  display: none;
  bottom: 70px;
  right: 1%;
  width: 18px;
  height: 24px;
  z-index: 4;
  background: url(../img/arrow_up.svg) no-repeat center;
}

.header {
  height: 88px;
}
.header-fixed {
  position: fixed;
  background: #1c1c1c;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 33px 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu {
  display: flex;
  gap: 40px;
}
.header-logo {
  font-size: 22px;
  font-weight: 700;
}
.header .link {
  text-align: center;
  font-weight: 500;
  transition: 0.3s linear;
}
.header .link:hover {
  color: #eebf63;
}

.hero {
  padding: 42px 0 83px;
}
.hero-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.hero-subtitle {
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.hero-content {
  max-width: 475px;
  width: 100%;
}
.hero-title {
  position: relative;
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
}
.hero-title span {
  color: #EEBF63;
}
.hero-title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -25px;
  right: 50px;
  background: url(../img/hero-line.png) no-repeat center;
  width: 324px;
  height: 19px;
}
.hero-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 56px 0 32px;
}
.hero-social {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 44px;
}
.hero .social-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.hero .social-block {
  display: flex;
  gap: 30px;
  align-items: center;
}
.hero-email {
  display: block;
  width: 151px;
  height: 55px;
  border-radius: 10px;
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-position: left 28px center;
  padding: 16px 0 15px 60px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  border: 2px solid #cd921e;
}
.hero-download {
  display: block;
  width: 184px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #cd921e;
  padding: 16px 0 16px 51px;
  background-image: url(../img/download.svg);
  background-repeat: no-repeat;
  background-position: left 22px center;
}
.hero-links {
  display: flex;
  gap: 30px;
}
.hero-links a.active {
  background-color: #cd921e;
}
.hero-img {
  max-width: 593px;
  width: 100%;
  position: relative;
}
.hero-img-wrapper {
  max-width: 553px;
  width: 100%;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
.hero-img::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: url(../img/hero-points.png) no-repeat center;
  width: 245px;
  height: 180px;
  bottom: 20px;
  left: 0;
}

.content {
  padding: 50px 0;
}
.content-wrapper {
  border-radius: 45px;
  background: #2f2f2f;
  padding: 63px 65px;
  display: flex;
  gap: 60px;
}
.content-img {
  max-width: 350px;
  width: 100%;
}
.content-img img {
  border-radius: 30px;
}
.content-block {
  width: 570px;
}
.content-block-top {
  display: flex;
  gap: 49px;
  margin-bottom: 70px;
}
.content .list-title {
  font-size: 72px;
  font-weight: 600;
  line-height: 62px;
}
.content .list-title span {
  color: #8ed2a9;
}
.content .list-text {
  color: #e1e1e1;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.content .list-stars {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
}
.content-title {
  width: 419px;
  margin-bottom: 19px;
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
}
.content-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
}

.recent-project {
  padding: 50px 0;
}
.recent-project .project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}
.recent-project .project-link {
  width: 151px;
  height: 55px;
  border-radius: 10px;
  background: #cd921e;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 15px 0;
}

.advantages {
  padding: 50px 0 42px;
}
.advantages-title {
  text-align: center;
}
.advantages-sliders {
  margin-top: 50px;
}
.advantages .slider {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages .slider img {
  margin-bottom: 27px;
  border-radius: 45px;
}
.advantages .slider-slider {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin-bottom: 7px;
}
.advantages .slider-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 7px;
}
.advantages .slider-text {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
.advantages .slick-dots {
  margin-top: 40px;
}
.advantages .slick-dots li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #F1F1F1;
}

.collaboration {
  padding: 50px 0 94px;
}
.collaboration-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 63px 84px;
  border-radius: 25px;
  background: #cd921e;
}
.collaboration-brands {
  margin-top: 50px;
}

.testimonials {
  padding: 50px 0;
  background-color: #386163;
}
.testimonials .inner-title {
  max-width: 609px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.testimonials-slider {
  margin-top: 52px;
}
.testimonials-slider .slick-dots {
  margin-top: 50px;
}
.testimonials-slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F1F1F1;
}
.testimonials-slider .slick-dots li.slick-active {
  width: 30px;
  border-radius: 5px;
  background: #eebf63;
}
.testimonials-wrapper {
  max-width: 529px;
  width: 100%;
  margin: 0 auto;
  padding: 52px 55px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-radius: 30px 0px 30px 30px;
  background: #2f2f2f;
}
.testimonials-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.testimonials-text {
  height: 155px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.about .hero-wrapper {
  flex-direction: row-reverse;
  align-items: flex-start;
}
.about .hero-img-wrapper img {
  border-radius: 30px;
}
.about .hero-img-wrapper {
  max-width: 380px;
}
.about .hero-img::before {
  display: none;
}
.about .hero-title {
  font-weight: 700;
}
.about .hero-title::after {
  display: none;
}
.about .hero-subtitle {
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
}
.about .hero-text {
  margin: 0 0 20px;
}
.about .hero-links {
  display: block;
}
.about .hero-email {
  background: transparent;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
}
.about .hero-link-email {
  font-size: 18px;
  line-height: normal;
}
.about .hero-signature {
  margin: 26px 0 24px;
  width: 160px;
}
.about .applist {
  display: flex;
  gap: 30px;
}

.article .container {
  padding: 50px 0 100px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.article p + p {
  margin-top: 50px;
}
.article p {
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
}
.article-img {
  margin: 43px 0 50px;
}
.article-img img {
  border-radius: 25px;
}
.article-title {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 62px;
  top: 22px;
  left: 42px;
}
.article-video {
  margin-top: 50px;
  position: relative;
}
.footer {
  padding: 59px 21px 59px 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .social-block {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer-text {
  font-size: 36px;
  line-height: 1.28;
}
.footer-content {
  font-size: 24px;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */