.footer{
    padding: 59px 21px 59px 0;

    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-block{
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &-text{
        font-size: 36px;
        line-height: 1.28;
    }

    &-content{
        font-size: 24px;
        line-height: 1.5;
    }
}