.header{
  height: 88px;
  
    &-fixed{
        position: fixed;
        background: #1c1c1c;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        padding: 33px 0;
    }

    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu{
        display: flex;
        gap: 40px;
    }

    &-logo {
        font-size: 22px;
        font-weight: 700;
    }

    .link {
        text-align: center;
        font-weight: 500;
        transition: 0.3s linear;

        &:hover{
            color: $color-yellow;
        }
    }
}