.hero {
    &-subtitle {
        display: block;
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    &-content {
        max-width: 475px;
        width: 100%;
    }

    &-title {
        position: relative;
        font-size: 48px;
        font-weight: 600;
        line-height: 62px;

        span {
            color: #EEBF63;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -25px;
            right: 50px;
            background: url(../img/hero-line.png) no-repeat center;
            width: 324px;
            height: 19px;
        }
    }

    &-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin: 56px 0 32px;
    }

    &-social {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 44px;
    }

    .social-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .social-block {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &-email {
        display: block;
        width: 151px;
        height: 55px;
        border-radius: 10px;
        background-image: url(../img/mail.svg);
        background-repeat:  no-repeat;
        background-position: left 28px center;
        padding: 16px 0 15px 60px;
        color: $color-white;
        font-weight: 700;
        line-height: 24px;
        border: 2px solid $color-yellow-dark;
    }

    &-download {
        display: block;
        width: 184px;
        height: 55px;
        border-radius: 10px;
        border: 2px solid $color-yellow-dark;
        padding: 16px 0 16px 51px;
        background-image: url(../img/download.svg);
        background-repeat:  no-repeat;
        background-position: left 22px center;
    }

    &-links {
        display: flex;
        gap: 30px;

        a.active{
            background-color: $color-yellow-dark;
        }
    }
}