.testimonials {
    padding: 50px 0;
    background-color: #386163;

    .inner-title {
        max-width: 609px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    &-slider {
        margin-top: 52px;
        padding-bottom: 50px;

        .slick-dots{
            margin-top: 50px;

            li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $color-primary;

                &.slick-active {
                    width: 30px;
                    border-radius: 5px;
                    background: #eebf63;
                }
            }
        } 
    }

    &-wrapper {
        max-width: 529px;
        width: 100%;
        margin: 0 auto;
        padding: 52px 55px;
        display: flex;
        flex-direction: column;
        gap: 42px;
        border-radius: 30px 0px 30px 30px;
        background: $color-black;
    }

    &-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &-text {
        height: 155px;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
    }
}